nav {
  will-change: auto;
}
.mainNavBottom {
  border-color: var(--clr-primary-background);
  left: 0;
  margin: 0;
  background-color: var(--clr-dark-50);;
  /*Alignment of items and flexbox around them*/
  position:absolute;
  top:100vh;
  transform:translateY(-100%);
  height: 5rem;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  overflow-x: scroll;
  transition:
     max-height 0.3s ease-in-out,
    max-width 0.3s ease-in-out,
    border 0.3s ease-out,
    border-color 0.3s ease-out ;
  z-index: 10;
}
.mainNavBottom .link {
  border-radius: 0;
}

.mainNav {
  --nav-standard: 3rem;
  border-radius: 1rem;
  border: solid 0.2rem;
  border-color: var(--clr-primary-background);
  top: 2rem;
  left: 2rem;
  margin: 0;
  background-color: var(--clr-primary);
  /*Alignment of items and flexbox around them*/
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  max-height: 2000px;
  max-width: 2000px;
  transition:
    max-height 0.3s ease-in-out,
    max-width 0.3s ease-in-out,
    top 0.3s ease-in-out,
    left 0.3s ease-in-out;

}

.mainNav .link {
  border-radius: 0;
  padding: 1rem;
}

.mainNav .link:first-child {
  border-radius: 1rem 0 0 1rem ;
}

.mainNav #justCv {
  border-radius: 1rem;
}

@media screen and (max-width: 400px) {

}
@media screen and (max-width: 770px) {
  .mainNav {
    top: 1rem;
    left: 1rem;
    flex-direction: row;
    max-width: 100%;
  }
}
