#introduction {
  position: relative;
  background-color: var(--clr-tertiary);
  border-radius: 0 1rem 1rem 0;
  padding: calc(var(--section-h)/ 4) 0 calc(var(--section-h)/ 4) 0;
  min-height: calc(var(--section-h)/ 2);
  margin-left: 0;
  width: calc(100% - var(--section-offset));
  display:flex;
  align-items: center;
  transition: left 1s ease-in, right 1s ease-in;
}
#introduction p {
  margin: 0 3rem 0 3rem;
}

#introduction_divider {
  border-color: var(--clr-secondary);
}
@media screen and (max-width: 1000px) {
  #introduction {
    border-radius: 0;
    transition: border-radius 1s ease-out, width 0.3s ease;
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1001px) {
  #introduction {
    transition: border-radius 1s ease-in, width 1s ease;
  }
}
