.wrapper .iFrame {
    padding: 1em 0 0 0;
    margin: 0;
    animation-name: onMountFrame;
    animation-duration: 200ms;
    animation-timing-function: linear;
}
.btn div {
    animation-name: onMountFrame;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-direction: reverse;
}
@keyframes onMountFrame {
    from {
        width: 2rem;
        height: 4rem;
    }
    to {
        width: 800px;
        height: 1600px;
    }
}

.iFrame {
    width: 800px;
    height: 1600px;
}
