.connect {
  position: fixed;
  bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--clr-dark-30);
  width: 100%;
  transition: padding 0.5s ease-out;
}
.connect p {
  margin-top: 0;
}
.connectLinks .link {
  max-height: 20px;
  max-width: 20px;
  margin: 0 1rem 0 1rem;
  border-radius: 100%;
}
.connectLinks .link:hover {
  background-color: transparent;
}
.connectLinks .link .icon:hover {
  color: var(--clr-primary-background)
}
.connectLinks{
  display: flex;
  justify-content: center;
}
