@import 'colors.css';
@import 'sizes.css';
@import '@components/util/Popup/popup.css';
@import "@components/Links/link.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Viga&display=swap');
@import '@components/navigation/Nav/nav.css';
@import '@pages/Cv/Cv.css';

:root {
  font-family: 'Poppins', sans-serif, Avenir, Helvetica, Arial, sans-serif, 'Viga', sans-serif, 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: fit-content;
}

#root {
  padding: 0;
  border-radius: 1rem;
}
.bgPattern {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-size: 20px 20px;
  background: repeating-linear-gradient(
    -55deg,
  var(--clr-primary-background), var(--clr-primary-background) 12rem,
  var(--clr-primary-o30) 12rem,
  var(--clr-primary-o30) 24rem
  );
  background-attachment: fixed;
  z-index: -10;
}
@media (prefers-color-scheme: dark) {
  .bgPattern {
    background: repeating-linear-gradient(
    -55deg,
    var(--clr-primary-background), var(--clr-primary-background) 12rem,
    var(--clr-primary-o20) 12rem,
    var(--clr-primary-o20) 24rem
  );
  }
}

* {
  min-width: 0;
}
html, body, #app, #app>div {
  min-width:300px;        /* Suppose you want minimum width of 1000px */
  width:100%;
  margin: 0
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  height: 20rem;
  width: 100%;
}

span {
  display: block;
  width: 100%;
  height: 0px;
  margin: 2rem 0 2rem 0;
  border-bottom: dotted 0.5rem;
  background-color: transparent;
}


section {
  width: 100%;
  max-width: var(--section-w);
  height: var(--section-h);
}
section div {
  right: var(--section-offset);
}

@media screen and (max-width: 1000px) {
  * {
    border-radius: 0;
  }
}

