.projectCard {
  display: grid;
  margin: 2rem;
  overflow-x: hidden;
  border-radius: 1rem;
}
.imageContainer > img {
  position: relative;
  object-fit: "cover";
  max-width: "100%";
}

.imageContainer {
  overflow: hidden;
  height: 300px;
}

.projectTitle {
  font: 20px "Poppins" !important;
}

.insideContainer {
  background-color: var(--clr-primary-background);
}
@media (hover: hover) {
  .projectCard:hover{
    scale: 1.04;
    transform: rotate3d(1, 5, 1, 10deg);
    transition: transform 0.3s ease;
  }
  .projectCard:hover > .insideContainer {
    background: var(--clr-secondary-o80);
    color: var(--clr-primary-background);
  }
}
@media screen and (max-width: 400px) {
  .projectCard {
    margin: 0.5rem;

    scroll-padding-inline-start: 0.5rem;
    scroll-padding-inline-end: 0.5rem;
  }
}
