.link {
  color: var(--clr-primary-dark);
  text-decoration: none;
  height: fit-content;
  line-height: 1;
  transition: background-color 0.5s ease-out;

  /* Font */
  font-size: 30px;
  font-weight: bold;
  font-family: 'Viga';
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--clr-primary-background);
    scale: 1.1;
  }
}
@media (hover: none) {

}
